.jumbotron {
  padding: 30px !important;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.addModuleBtn {
  width: 100%;
  height: 35px;
  padding: 0 !important;
  font-size: 18px !important;
}

.courseTitle {
  cursor: pointer;
  margin-top: 20px;

  &.selected {
    color: darken(lightblue, 20%);
  }
}

.addCourse {
  display: block;
  position: relative;
  margin: 20px 0 10px 0;
}

.answers {
  list-style: none;
  padding-left: 0;

  .answerValue {
    font-size: 12px;
  }
}

.questionLabel {
  position: relative;
  display: block;
  margin-top: 20px;
}

.removeModuleBtn,
.removeCourseBtn,
.removeQuestionBtn,
.removeAnswerBtn {
  color: lighten(red, 10%);

  &:hover {
    color: darken(red, 50%);
  }
}

.removeModuleBtn,
.removeCourseBtn,
.removeQuestionBtn {
  display: block;
  position: relative;
  margin-top: 25px;
}

.removeModuleBtn {
  font-size: 20px;
}

.removeQuestionIcon {
  font-size: 17px;
}

.removeCourseBtn {
  margin-top: 10px;

  .removeCourseIcon {
    font-size: 20px;
  }
}

.addAnswer {
  color: darken(lightblue, 40%);

  &:after {
    content: '';
    display: block;
    position: relative;
    width: 80%;
    height: 1px;
    background: darken(lightblue, 60%);
    margin: 30px auto 0 auto;
  }
}

.addQuestion {
  position: relative;
  display: block;
  font-size: 16px;
  color: darken(lightblue, 50%);
  margin-top: 20px;
}