<div class="row">
  <div class="col-lg-8 col-md-8  col-sm-8">
    <div class="jumbotron">
      <div class="row" ng-repeat="module in modules  track by $index">
        <div class="col-lg-12 col-md-12  col-sm-12">
          <div class="row">
            <div class="col-lg-10 col-md-10  col-sm-10">
              <a href="#!/module/{{$index}}" class="clickable">
                <h3>{{module.title}}</h3>
                <h5>{{module.description}}</h5>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <a class="clickable" ng-click="removeModule($index)"><span class="glyphicon glyphicon-trash removeModuleBtn"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4  col-sm-4">
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-12 col-md-12  col-sm-12">
          <form ng-submit="addModule()">
            <input type="text" class="form-control" placeholder="Titre du module" ng-model="moduleTitle">
            <input type="text" class="form-control" placeholder="Description du module" ng-model="moduleDescription">
            <input type="submit" class="btn btn-sm btn-info addModuleBtn" value="Ajouter ce module">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
