<div class="row">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <a class="clickable" ng-click="editModuleTitle(selectedModule.title)">
                        <h3>{{selectedModule.title}}</h3>
                    </a>
                    <a class="clickable" ng-click="editModuleDesc(selectedModule.description)">
                        <h5>{{selectedModule.description}}</h5>
                    </a>

                    <div class="row" ng-repeat="course in selectedModule.courses track by $index">
                        <div class="col-lg-12 col-md-12  col-sm-12">
                            <p class="courseTitle"
                               ng-click="changeSelectedCourse($index)"
                               ng-class="{'selected': $index === selectedCourse}">
                                {{course.courseTitle}}
                            </p>
                        </div>
                    </div>

                    <a class="clickable addCourse" ng-click="addCourse()"><span class="glyphicon glyphicon-plus"></span> Ajouter une leçon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8  col-sm-8">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <div class="row">
                        <div class="col-lg-10 col-md-10  col-sm-10">
                            <a class="clickable" ng-click="editCourseTitle(selectedModule.courses[selectedCourse].courseTitle)">
                                <h4>{{selectedModule.courses[selectedCourse].courseTitle}}</h4>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2  col-sm-2">
                            <a class="clickable removeCourseBtn" ng-click="removeCourse()"><span class="glyphicon glyphicon-trash removeCourseIcon"></span></a>
                        </div>
                    </div>

                    <div class="row" ng-repeat="question in selectedModule.courses[selectedCourse].questions track by $index">
                        <div class="col-lg-12 col-md-12  col-sm-12">
                            <div class="row">
                                <div class="col-lg-10 col-md-10  col-sm-10">
                                    <a class="clickable questionLabel" ng-click="editQuestion(question.label, $index)">
                                        <p>{{question.label}}</p>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-md-2  col-sm-2">
                                    <a class="clickable removeQuestionBtn" ng-click="removeQuestion($index)"><span class="glyphicon glyphicon-trash removeQuestionIcon"></span></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12  col-sm-12">
                                    <ul class="answers">
                                        <li ng-repeat="answer in question.answers track by $index">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-2  col-sm-2">
                                                    <p class="answerValue">{{displayAnswerValue(answer.value)}}</p>
                                                </div>
                                                <div class="col-lg-8 col-md-8  col-sm-8">
                                                    <a class="clickable" ng-click="editAnswer(answer.label, $parent.$index, $index)">{{answer.label}}</a>
                                                </div>
                                                <div class="col-lg-2 col-md-2  col-sm-2">
                                                    <a class="clickable" ng-click="removeAnswer($parent.$index, $index)"><span class="glyphicon glyphicon-trash removeAnswerBtn"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="clickable addAnswer" ng-click="addAnswer($index)"><span class="glyphicon glyphicon-plus"></span> Ajouter une réponse</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <a class="clickable addQuestion" ng-click="addQuestion()"><span class="glyphicon glyphicon-plus"></span> Ajouter une question</a>
                </div>
            </div>
        </div>
    </div>
</div>
